:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: #213547;
    background-color: #ffffff;
    --color: #213547;
    --background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #747bff;
}

body {
    margin: 0;
    display: flex;
    /*place-items: center;*/
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.app-wrapper {
    min-width: 80vw;
}

.card-group {
    position: relative;
    margin: 2rem 1em;
    padding: 0;
    border: 5px solid #dedede;
}

.card {
    position: relative;
    margin: 1em;
    padding: 1em;
    /*width: 80vw;*/
    background-color: #eee;
}

.card-group .card:first-child {
    margin-top: 0;
}

.card-group .card:last-child {
    margin-bottom: 0;
}

.card-group .card {
    /*width: auto;*/
    margin-left: 0;
    margin-right: 0;
    /*width: calc(80vw - 10px);*/
}

.card-group-title {
    padding: 0.01em 1em;
    background-color: #dedede;
}

.form-control:not(:last-child) {
    padding-bottom: 1em;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #0077b6;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

mark {
    background-color: #ddd;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    white-space: nowrap;
}

select {
    padding: 4px 6px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
        --color: #213547;
        --background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    .card-group {
        border-color: #dedede;
    }

    .card {
        background-color: #eee;
    }

    .card-group-title {
        background-color: #dedede;
    }

    button {
        background-color: #0077b6;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
        --color: rgba(255, 255, 255, 0.87);
        --background-color: #242424;
    }

    a:hover {
        color: #535bf2;
    }

    .card-group {
        border-color: #2f2f2f;
    }

    .card {
        background-color: #202020;
    }

    .card-group-title {
        background-color: #2f2f2f;
    }

    button {
        background-color: #0077b6;
    }

}
